<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Search Widget | Sample | ArcGIS API for JavaScript 4.18</title>

    <link rel="stylesheet" href="../public/stylesheets/index.css" />
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.18/"></script>
</head>

<body>
    <!-- <div id="viewDiv"></div> -->

    <div class="sidenav">
        <p id="latitude"></p>
        <p id="longitude"></p>
        <input id="address"></p>
        <button id="submit" onclick="getQuote()">Submit</button>
    </div>

    <div class="content">
        <div id="viewDiv"></div>
    </div>

</body>
<script src="../public/javascripts/map.js"></script>
<script src="../public/javascripts/serverCalls.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>